<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Warehouse Manager</title>
	</head>
	<body>
		<h1 class="title"><strong>Warehouse manager</strong></h1>
		<a href="http://127.0.0.1:5000/list_of_products">List of products</a>
		<br>
		<a href="http://127.0.0.1:5000/list_of_sold_products">List of sold products</a>
		<br>
		<a href="http://127.0.0.1:5000/cost">Cost</a>
		<br>
		<a href="http://127.0.0.1:5000/income">Income</a>
		<br>
		<a href="http://127.0.0.1:5000/revenue">Revenue</a>
		<br>
		<a href="http://127.0.0.1:5000/save">Save products list and sales data</a>
		<br>
		<a href="http://127.0.0.1:5000/load">Load datas</a>
      		{% block content %}
      		{% endblock content %}
	</body>
</html>
