{% extends "homepage.html" %}

{% block content %}

<table>
	<tbody>
		<tr>
			<td><strong>Name</strong></td>
			<td><strong>Quantity</strong></td>
			<td><strong>Unit</strong></td>
			<td><strong>Unit Price</strong></td>
		</tr>
		{% for key, value in list_of_products.items() %}
		<tr>	
			<td>{{ key }}</td>
			<td>{{ value[0] }}</td>
			<td>{{ value[1] }}</td>
			<td>{{ value[2] }} </td>
		</tr>
		{% endfor %}	
	</tbody>
</table>
<form method="POST" action="/list_of_products">
	{{ form.product_name.label }}
	{{ form.product_name }}
	{{ form.product_quantity.label }}
	{{ form.product_quantity }}
	{{ form.product_unit.label }}
	{{ form.product_unit }}
	{{ form.product_unit_price.label }}
	{{ form.product_unit_price }}
	<input type="submit" value="Add">
</form>
{% endblock %}